<p>course-detail works!</p>

<div class="courseWrapper">
    <div class="card" style="width: 40%">
        <img src="./assets/images/cardImg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{courseDescription.courseName}}  </h5>
            <p class="card-text"> {{courseDescription.courseDescription}}  </p>
            <button  class="btn btn-primary">Know more</button>
            <button class="btn" ><img src="./assets/icons/shopping_cart_black_24dp.svg" alt=""></button>
            <!-- <button class="btn"><img src=".../../../../../../assets/icons/" alt=""></button> -->
            <button class="btn"><img src=".../../../../../../assets/icons/favorite_border_black_24dp.svg" alt=""></button>
            
            <button class="btn"><img src=".../../../../../../assets/icons/thumb_down_black_24dp.svg" alt=""></button>               
        </div>
    </div>
</div>