<div class="container-fluid classFigma">
    
    
  <div class="d-flex flex-wrap justify-content-evenly">
        
          <div class="">
              <div class="">
                  <img src="./assets/logo/subio.svg" alt="" width="224.6px" height="100px">
  
              </div>
              <div class="textSubio">
                  <p class="marPad0 textLeftD">
                      Subio Help you to achieve personal,
                      team or business goal in your Life.
  
                  </p>
              </div>

          </div>
          
      
      

          <div class="">
              <div class="formCard">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" novalidate>
                      <div class="formElement">
                        <h3 style="font-weight: 800;
                        font-size: 20px;">Sign in to your accout</h3>
                        <P>Email</P>
                          <div class="inputEmail">
                            
                            <input type="text" class="form-control" placeholder="email" autocomplete="off"
                            formControlName="email" [class.is-invalid]="submitted && f.email.errors">
                            <div class="invalid-feedback">
                                Please enter your email
                              </div>
                          </div>
                          <div class="">
                          <span>Password</span>
                          
                            <span style="cursor: pointer; color: #0198E0; padding-left: 234px;" class="marPad0" routerLink="'/forgot-password'" >Forgot Password </span>
                        </div>
                          <div class="inputPass">
                            <input type="password" class="form-control" placeholder="Password" autocomplete="off"
                            formControlName="password" [class.is-invalid]="submitted && f.password.errors">
                            <div class="invalid-feedback">
                                Please enter your Password
                              </div>
                          </div>
  
                          <div class="loginBtn">
                              <button type="submit" class="btn btnBlock" [disabled]="submitted && loginForm.invalid">Log In</button>
                          </div>
  
                          
  
                          <div class="">
                              
                              <div class="" style="cursor: pointer;">
                                <span class="">Don't have an account?</span>
                                  <span routerLink='/register' style=" color: #0198E0; padding-left: 207px;" type="button" class="">Sign Up</span>
                              </div>
                          </div>
              
                      </div>
                  </form>
               </div>
          </div>
      
  </div>



</div>